<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <header>
 <div class="navbar">
  <h1 class="logo">🔗 URL Shortener</h1>
  <% if (!locals.token) { %>
    <div class="auth-buttons">
      <button id="openLogin" class="nav-btn" >Log In</button>
      <button id="openSignup" class="nav-btn">Sign Up</button>
    </div>
  <% } %>
   <% if (locals.token) { %>
    <form action="/user/logout" method="POST">
      <button type="submit" class="nav-btn logout-btn">Log Out</button>
    </form>
  <% } %>
</div>

  </header>

  <main>
    <div class="container">
        <form method="POST" action="/urls" class="main-form">
         <label for="urlInput">Enter Your Original URL</label>
         <div class="url-input-group">
           <input type="text" id="urlInput" name="url" placeholder="https://www.google.com" required />
           <button type="submit">Generate</button>
         </div>
     </form>


      <% if (locals.shortId) { %>
        <div class="short-url-box">
          <h2>✅ Short URL Generated!</h2>
          <div class="short-url-content">
            <input type="text" id="shortLinkInput" value="http://localhost:5000/urls/<%= shortId %>" readonly />
            <button id="copyBtn" title="Copy to clipboard">📋</button>
          </div>
          <span id="copyMsg" class="copy-msg"></span>
        </div>
     <% } %>


      <% if (locals.urls) { %>
      <div class="table-container">
        <h2>📋 All Shortened URLs</h2>
        <button onclick="window.location.reload()" class="refresh-btn">🔄 Refresh Stats</button>
        <table class="styled-table">
          <thead>
            <tr>
              <th>Sr. No</th>
              <th>Redirect URL</th>
              <th>Short ID</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% urls.forEach((url, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><a href="<%= url.redirectUrl %>" class="table-link" target="_blank"><%= url.redirectUrl %></a></td>
                <td><a href="http://localhost:5000/urls/<%= url.shortId %>" class="short-id-link" target="_blank">http://localhost:5000/urls/<%= url.shortId %></a></td>
                <td><%= url.visitHistory.length %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>
  </main>

  <script src="/script.js">
    
  </script>
</body>
</html>
